{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="con">
        <h2>Login</h2>
        <form action="">
            <div class="row">
                <input type="text" name="" id="" placeholder="Username">
            </div>
            <div class="row">
                <input type="password" name="" id="" placeholder="Password">
            </div>
            <div class="row">
                <button>Login</button>
            </div>
            <footer>
                <span>
                    <input type="checkbox"> <span>Remember Me</span>
                </span>
                <span><a href="./index.html">Forgot Password?</a></span>
            </footer>
        </form>
    </div>
</body>
</html>